#cloud-config
write_files:
#  create es kibana docker-compose file
  - path: /docker/app/docker-compose.yml
    content: |
      version: '3.9'
      services:
        db:
          image: mysql:latest
          container_name: db
          environment:
            MYSQL_ROOT_PASSWORD: password
            MYSQL_DATABASE: test_sql
            MYSQL_USER: bguntupalli
            MYSQL_PASSWORD: password
          ports:
            - 80:3306
